# Build and dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor/IDE directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Tooling/Services
.vercel/
.temp/
.cache/

# Coverage reports
/tests/unit/coverage/